<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zm.village.ssm.mapper.AdminInfMapper">
  <resultMap id="BaseResultMap" type="zm.village.dao.AdminInf">
    <id column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="admin_user" jdbcType="VARCHAR" property="adminUser" />
    <result column="admin_pass" jdbcType="VARCHAR" property="adminPass" />
    <result column="admin_type" jdbcType="INTEGER" property="adminType" />
  </resultMap>
  <sql id="Base_Column_List">
    admin_id, admin_user, admin_pass, admin_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin_inf
    where admin_id = #{adminId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin_inf
    where admin_id = #{adminId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zm.village.dao.AdminInf">
    insert into admin_inf (admin_id, admin_user, admin_pass, 
      admin_type)
    values (#{adminId,jdbcType=INTEGER}, #{adminUser,jdbcType=VARCHAR}, #{adminPass,jdbcType=VARCHAR}, 
      #{adminType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="zm.village.dao.AdminInf">
    insert into admin_inf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="adminUser != null">
        admin_user,
      </if>
      <if test="adminPass != null">
        admin_pass,
      </if>
      <if test="adminType != null">
        admin_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminUser != null">
        #{adminUser,jdbcType=VARCHAR},
      </if>
      <if test="adminPass != null">
        #{adminPass,jdbcType=VARCHAR},
      </if>
      <if test="adminType != null">
        #{adminType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zm.village.dao.AdminInf">
    update admin_inf
    <set>
      <if test="adminUser != null">
        admin_user = #{adminUser,jdbcType=VARCHAR},
      </if>
      <if test="adminPass != null">
        admin_pass = #{adminPass,jdbcType=VARCHAR},
      </if>
      <if test="adminType != null">
        admin_type = #{adminType,jdbcType=INTEGER},
      </if>
    </set>
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zm.village.dao.AdminInf">
    update admin_inf
    set admin_user = #{adminUser,jdbcType=VARCHAR},
      admin_pass = #{adminPass,jdbcType=VARCHAR},
      admin_type = #{adminType,jdbcType=INTEGER}
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
</mapper>