<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zm.village.ssm.mapper.DirInfMapper">
  <resultMap id="BaseResultMap" type="zm.village.dao.DirInf">
    <id column="dir_id" jdbcType="INTEGER" property="dirId" />
    <result column="dir_type" jdbcType="INTEGER" property="dirType" />
    <result column="dir_name" jdbcType="VARCHAR" property="dirName" />
    <result column="dir_img" jdbcType="VARCHAR" property="dirImg" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="zm.village.dao.DirInf">
    <result column="dir_introduce" jdbcType="LONGVARCHAR" property="dirIntroduce" />
  </resultMap>
  <sql id="Base_Column_List">
    dir_id, dir_type, dir_name, dir_img
  </sql>
  <sql id="Blob_Column_List">
    dir_introduce
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dir_inf
    where dir_id = #{dirId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dir_inf
    where dir_id = #{dirId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zm.village.dao.DirInf">
    insert into dir_inf (dir_id, dir_type, dir_name, 
      dir_img, dir_introduce)
    values (#{dirId,jdbcType=INTEGER}, #{dirType,jdbcType=INTEGER}, #{dirName,jdbcType=VARCHAR}, 
      #{dirImg,jdbcType=VARCHAR}, #{dirIntroduce,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zm.village.dao.DirInf">
    insert into dir_inf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dirId != null">
        dir_id,
      </if>
      <if test="dirType != null">
        dir_type,
      </if>
      <if test="dirName != null">
        dir_name,
      </if>
      <if test="dirImg != null">
        dir_img,
      </if>
      <if test="dirIntroduce != null">
        dir_introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dirId != null">
        #{dirId,jdbcType=INTEGER},
      </if>
      <if test="dirType != null">
        #{dirType,jdbcType=INTEGER},
      </if>
      <if test="dirName != null">
        #{dirName,jdbcType=VARCHAR},
      </if>
      <if test="dirImg != null">
        #{dirImg,jdbcType=VARCHAR},
      </if>
      <if test="dirIntroduce != null">
        #{dirIntroduce,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zm.village.dao.DirInf">
    update dir_inf
    <set>
      <if test="dirType != null">
        dir_type = #{dirType,jdbcType=INTEGER},
      </if>
      <if test="dirName != null">
        dir_name = #{dirName,jdbcType=VARCHAR},
      </if>
      <if test="dirImg != null">
        dir_img = #{dirImg,jdbcType=VARCHAR},
      </if>
      <if test="dirIntroduce != null">
        dir_introduce = #{dirIntroduce,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where dir_id = #{dirId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="zm.village.dao.DirInf">
    update dir_inf
    set dir_type = #{dirType,jdbcType=INTEGER},
      dir_name = #{dirName,jdbcType=VARCHAR},
      dir_img = #{dirImg,jdbcType=VARCHAR},
      dir_introduce = #{dirIntroduce,jdbcType=LONGVARCHAR}
    where dir_id = #{dirId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zm.village.dao.DirInf">
    update dir_inf
    set dir_type = #{dirType,jdbcType=INTEGER},
      dir_name = #{dirName,jdbcType=VARCHAR},
      dir_img = #{dirImg,jdbcType=VARCHAR}
    where dir_id = #{dirId,jdbcType=INTEGER}
  </update>
</mapper>