<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zm.village.ssm.mapper.GoodsInfMapper">
  <resultMap id="BaseResultMap" type="zm.village.dao.Goods">
    <id column="goods_id" jdbcType="INTEGER" property="id" />
    <result column="goods_name" jdbcType="VARCHAR" property="name" />
    <result column="goods_price" jdbcType="DOUBLE" property="price" />
    <result column="goods_post" jdbcType="INTEGER" property="post" />
    <result column="goods_address" jdbcType="VARCHAR" property="address" />
    <result column="goods_img" jdbcType="VARCHAR" property="imgURL" />
    <result column="goods_user" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="zm.village.dao.Goods">
    <result column="goods_introduce" jdbcType="LONGVARCHAR" property="goodsIntroduce" />
  </resultMap>
  <sql id="Base_Column_List">
    goods_id, goods_name, goods_price, goods_post, goods_address, goods_img, goods_user
  </sql>
  <sql id="Blob_Column_List">
    goods_introduce
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goods_inf
    where goods_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods_inf
    where goods_id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zm.village.dao.Goods">
    insert into goods_inf (goods_id, goods_name, goods_price, 
      goods_post, goods_address, goods_img, 
      goods_user, goods_introduce)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, 
      #{post,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{imgURL,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{goodsIntroduce,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zm.village.dao.Goods">
    insert into goods_inf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        goods_id,
      </if>
      <if test="name != null">
        goods_name,
      </if>
      <if test="price != null">
        goods_price,
      </if>
      <if test="post != null">
        goods_post,
      </if>
      <if test="address != null">
        goods_address,
      </if>
      <if test="imgURL != null">
        goods_img,
      </if>
      <if test="userId != null">
        goods_user,
      </if>
      <if test="goodsIntroduce != null">
        goods_introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="post != null">
        #{post,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="imgURL != null">
        #{imgURL,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodsIntroduce != null">
        #{goodsIntroduce,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zm.village.dao.Goods">
    update goods_inf
    <set>
      <if test="name != null">
        goods_name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        goods_price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="post != null">
        goods_post = #{post,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        goods_address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="imgURL != null">
        goods_img = #{imgURL,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        goods_user = #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodsIntroduce != null">
        goods_introduce = #{goodsIntroduce,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where goods_id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="zm.village.dao.Goods">
    update goods_inf
    set goods_name = #{name,jdbcType=VARCHAR},
      goods_price = #{price,jdbcType=DOUBLE},
      goods_post = #{post,jdbcType=INTEGER},
      goods_address = #{address,jdbcType=VARCHAR},
      goods_img = #{imgURL,jdbcType=VARCHAR},
      goods_user = #{userId,jdbcType=INTEGER},
      goods_introduce = #{goodsIntroduce,jdbcType=LONGVARCHAR}
    where goods_id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zm.village.dao.Goods">
    update goods_inf
    set goods_name = #{name,jdbcType=VARCHAR},
      goods_price = #{price,jdbcType=DOUBLE},
      goods_post = #{post,jdbcType=INTEGER},
      goods_address = #{address,jdbcType=VARCHAR},
      goods_img = #{imgURL,jdbcType=VARCHAR},
      goods_user = #{userId,jdbcType=INTEGER}
    where goods_id = #{id,jdbcType=INTEGER}
  </update>
</mapper>