<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zm.village.ssm.mapper.LabelDirMapper">
  <resultMap id="BaseResultMap" type="zm.village.dao.LabelDir">
    <id column="label_id" jdbcType="INTEGER" property="id" />
    <result column="label_name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    label_id, label_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from label_inf
    where label_id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from label_inf
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from label_inf
    where label_id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="zm.village.dao.LabelDir">
    insert into label_inf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        label_id,
      </if>
      <if test="name != null">
        label_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zm.village.dao.LabelDir">
    update label_inf
    <set>
      <if test="name != null">
        label_name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where label_id = #{id,jdbcType=INTEGER}
  </update>
</mapper>