<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zm.village.ssm.mapper.RelLandInfMapper">
	<resultMap id="BaseResultMap" type="zm.village.dao.Crop">
		<id column="rel_land_id" jdbcType="INTEGER" property="id" />
		<result column="rel_land_type" jdbcType="INTEGER" property="landId" />
		<result column="rel_land_crop_type" jdbcType="INTEGER"
			property="dirId" />
		<result column="rel_land_crop_price" jdbcType="DOUBLE"
			property="price" />
		<result column="rel_land_crop_startTime" jdbcType="DATE"
			property="startTime" />
		<result column="rel_land_crop_endTime" jdbcType="DATE"
			property="endTime" />
	</resultMap>
	
	<sql id="Base_Column_List">
		rel_land_id, rel_land_type, rel_land_crop_type, rel_land_crop_price,
		rel_land_crop_startTime,
		rel_land_crop_endTime
	</sql>
	
	<select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rel_land_inf
    </select>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from rel_land_inf
		where rel_land_id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from rel_land_inf
		where rel_land_id = #{id,jdbcType=INTEGER}
	</delete>
	
	<insert id="insertSelective" parameterType="zm.village.dao.Crop">
		insert into rel_land_inf
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				rel_land_id,
			</if>
			<if test="landId != null">
				rel_land_type,
			</if>
			<if test="dirId != null">
				rel_land_crop_type,
			</if>
			<if test="price != null">
				rel_land_crop_price,
			</if>
			<if test="startTime != null">
				rel_land_crop_startTime,
			</if>
			<if test="endTime != null">
				rel_land_crop_endTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="landId != null">
				#{landId,jdbcType=INTEGER},
			</if>
			<if test="dirId != null">
				#{dirId,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				#{price,jdbcType=DOUBLE},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=DATE},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=DATE},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="zm.village.dao.Crop">
		update rel_land_inf
		<set>
			<if test="landId != null">
				rel_land_type = #{landId,jdbcType=INTEGER},
			</if>
			<if test="dirId != null">
				rel_land_crop_type = #{dirId,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				rel_land_crop_price = #{price,jdbcType=DOUBLE},
			</if>
			<if test="startTime != null">
				rel_land_crop_startTime = #{startTime,jdbcType=DATE},
			</if>
			<if test="endTime != null">
				rel_land_crop_endTime = #{endTime,jdbcType=DATE},
			</if>
		</set>
		where rel_land_id = #{id,jdbcType=INTEGER}
	</update>
</mapper>