<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zm.village.web.mapper.AdminMapper">
	<resultMap id="BaseResultMap" type="zm.village.dao.Admin">
		<id column="admin_id" jdbcType="INTEGER" property="id" />
		<result column="admin_user" jdbcType="VARCHAR"
			property="username" />
		<result column="admin_pass" jdbcType="VARCHAR"
			property="password" />
		<result column="admin_type" jdbcType="INTEGER" property="type" />
		<result column="auditor_phone" jdbcType="VARCHAR"
			property="phone" />
		<result column="auditor_rparea" jdbcType="VARCHAR"
			property="rparea" />
	</resultMap>
	<sql id="Base_Column_List">
		admin_id, admin_user, admin_pass, admin_type
	</sql>

	<sql id="Auditor_Column_List">
		admin_id, admin_user, admin_pass,
		admin_type,auditor_phone,auditor_rparea
	</sql>

	<select id="selectByType" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Auditor_Column_List"></include>
		from admin_inf
		where admin_type = #{type,jdbcType=INTEGER}
	</select>

	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from admin_inf
		where admin_id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from admin_inf where admin_id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective"
		parameterType="zm.village.dao.Admin">
		insert into admin_inf
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				admin_id,
			</if>
			<if test="username != null">
				admin_user,
			</if>
			<if test="password != null">
				admin_pass,
			</if>
			<if test="type != null">
				admin_type,
			</if>
			<if test="phone != null">
				auditor_phone,
			</if>
			<if test="rparea != null">
				auditor_rparea,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="rparea != null">
				#{rparea,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective"
		parameterType="zm.village.dao.Admin">
		update admin_inf
		<set>
			<if test="username != null">
				admin_user = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				admin_pass = #{password,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				auditor_phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="rparea != null">
				auditor_rparea = #{rparea,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				admin_type = #{type,jdbcType=INTEGER},
			</if>
		</set>
		where admin_id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectByUsername" parameterType="HashMap"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from admin_inf where admin_user = #{name} and
		admin_type = #{type}
	</select>
</mapper>