<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zm.village.web.mapper.LandInfMapper">
	<resultMap id="BaseResultMap" type="zm.village.dao.Land">
		<id column="land_id" jdbcType="INTEGER" property="id" />
		<result column="land_user_id" jdbcType="INTEGER" property="userId" />
		<result column="land_name" jdbcType="VARCHAR" property="name" />
		<result column="land_type" jdbcType="INTEGER" property="type" />
		<result column="land_size" jdbcType="DOUBLE" property="size" />
		<result column="land_basic_price" jdbcType="DOUBLE" property="basicPrice" />
		<result column="land_province" jdbcType="VARCHAR" property="province" />
		<result column="land_city" jdbcType="VARCHAR" property="city" />
		<result column="land_district" jdbcType="VARCHAR" property="district" />
		<result column="land_address" jdbcType="VARCHAR" property="address" />
		<result column="land_unused_size" jdbcType="DOUBLE" property="unusedSize" />
		<result column="land_split" jdbcType="INTEGER" property="split" />
		<result column="land_min_lease" jdbcType="DOUBLE" property="minLease" />
		<result column="land_picture" jdbcType="VARCHAR" property="imgURL" />
		<result column="land_certificate" jdbcType="VARCHAR" property="certificateURL" />
		<result column="land_status" jdbcType="INTEGER" property="status" />
	    <result column="land_latitude" jdbcType="DOUBLE" property="latitude" />
	     <result column="land_longitude" jdbcType="DOUBLE" property="longitude" />
	    <result column="land_startTime" jdbcType="DATE"
	    property="startTime" />
		<result column="land_endTime" jdbcType="DATE"
			property="endTime" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="zm.village.dao.Land">
		<result column="land_introduce" jdbcType="LONGVARCHAR"
			property="introduce" />
	</resultMap>
	<sql id="Base_Column_List">
		land_id, land_user_id, land_name, land_type, land_size,
		land_basic_price,land_province,land_city,land_district,
		land_address,land_unused_size, land_split,
		land_min_lease, land_picture, land_certificate,
		land_status,land_startTime,land_endTime,land_latitude,land_longitude
	</sql>
	<sql id="Blob_Column_List">
		land_introduce
	</sql>

	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from land_inf
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from land_inf
		where land_id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="getByType" parameterType="java.lang.Integer"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from land_inf
		where land_type = #{type,jdbcType=INTEGER}
	</select>
	
	<select id="getByUserId" parameterType="java.lang.Integer"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from land_inf
		where land_user_id = #{userId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		land_inf
		where land_id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective" parameterType="zm.village.dao.Land">
		insert into land_inf
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				land_id,
			</if>
			<if test="userId != null">
				land_user_id,
			</if>
			<if test="name != null">
				land_name,
			</if>
			<if test="type != null">
				land_type,
			</if>
			<if test="size != null">
				land_size,
			</if>
			<if test="basicPrice != null">
				land_basic_price,
			</if>
			<if test="province != null">
				land_province,
			</if>
			<if test="city != null">
				land_city,
			</if>
			<if test="district != null">
				land_district,
			</if>
			<if test="address != null">
				land_address,
			</if>
			<if test="unusedSize != null">
				land_unused_size,
			</if>
			<if test="split != null">
				land_split,
			</if>
			<if test="minLease != null">
				land_min_lease,
			</if>
			<if test="imgURL != null">
				land_picture,
			</if>
			<if test="certificateURL != null">
				land_certificate,
			</if>
			<if test="status != null">
				land_status,
			</if>
			<if test="introduce != null">
				land_introduce,
			</if>
			<if test="startTime != null">
				land_startTime,
			</if>
			<if test="endTime != null">
				land_endTime,
			</if>
			<if test="latitude != null">
				land_latitude,
			</if>
			<if test="longitude != null">
				land_longitude,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="size != null">
				#{size,jdbcType=DOUBLE},
			</if>
			<if test="basicPrice != null">
				#{basicPrice,jdbcType=DOUBLE},
			</if>
			<if test="province != null">
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="district != null">
				#{district,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="unusedSize != null">
				#{unusedSize,jdbcType=DOUBLE},
			</if>
			<if test="split != null">
				#{split,jdbcType=INTEGER},
			</if>
			<if test="minLease != null">
				#{minLease,jdbcType=DOUBLE},
			</if>
			<if test="imgURL != null">
				#{imgURL,jdbcType=VARCHAR},
			</if>
			<if test="certificateURL != null">
				#{certificateURL,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="introduce != null">
				#{introduce,jdbcType=LONGVARCHAR},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=DATE},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=DATE},
			</if>
			<if test="latitude != null">
				#{latitude,jdbcType=DOUBLE},
			</if>
			<if test="longitude != null">
				#{longitude,jdbcType=DOUBLE},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="zm.village.dao.Land">
		update land_inf
		<set>
			<if test="userId != null">
				land_user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				land_name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				land_type = #{type,jdbcType=INTEGER},
			</if>
			<if test="size != null">
				land_size = #{size,jdbcType=DOUBLE},
			</if>
			<if test="basicPrice != null">
				land_basic_price = #{basicPrice,jdbcType=DOUBLE},
			</if>
			<if test="province != null">
				land_province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				land_city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="district != null">
				land_district = #{district,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				land_address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="unusedSize != null">
				land_unused_size = #{unusedSize,jdbcType=DOUBLE},
			</if>
			<if test="split != null">
				land_split = #{split,jdbcType=INTEGER},
			</if>
			<if test="minLease != null">
				land_min_lease = #{minLease,jdbcType=DOUBLE},
			</if>
			<if test="imgURL != null">
				land_picture = #{imgURL,jdbcType=VARCHAR},
			</if>
			<if test="certificateURL != null">
				land_certificate = #{certificateURL,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				land_status = #{status,jdbcType=INTEGER},
			</if>
			<if test="introduce != null">
				land_introduce = #{introduce,jdbcType=LONGVARCHAR},
			</if>
			<if test="startTime != null">
				land_startTime = #{startTime,jdbcType=DATE},
			</if>
			<if test="endTime != null">
				land_endTime = #{endTime,jdbcType=DATE},
			</if>
			<if test="latitude != null">
				land_latitude = #{latitude,jdbcType=DOUBLE},
			</if>
			<if test="longitude != null">
				land_longitude = #{longitude,jdbcType=DOUBLE},
			</if>
		</set>
		where land_id = #{id,jdbcType=INTEGER}
	</update>
</mapper>